@import './variables.scss';

.main__section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 768px) {
        gap: 24px;
    }

    .brands__swiper {
        overflow: hidden;

        .swiper-slide {
            width: 240px;
            height: 72px;
            padding: 0 16px;
            background: #FFFFFF;
            border: 1px solid #EAEAEA;
            border-radius: 6px;

            &__link {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .swiper-slide_image-button {
                    @include imgButton;
                }
            }
        }

        .swiper-container{
            @media (min-width: 768px) {
                @include sliderContainer(3, 224px, 24px, 340px);
            }
            @media (min-width: 1440px) {
                @include sliderContainer(4, 240px, 32px, 250px);
            }
        }
        
    }

    button {
        display: none;
    }
}