@import './variables.scss';

.devises {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 768px) {
        gap: 24px;
    }

    &__swiper {
        overflow: hidden;

        .swiper-wrapper {
            height: 160px;

            @media (min-width: 768px) {
                overflow-y: hidden;
                transition: height 0.3s;
                flex-wrap: wrap;
                gap: 24px;
            }

            @media (min-width: 1440px) {
                gap: 32px;
            }

            .swiper-slide {
                width: 240px;
                height: 160px;
                padding: 16px;
                background: #FFFFFF;
                border: 1px solid #EAEAEA;
                border-radius: 6px;

                @media (min-width: 768px) {
                    width: 224px;
                }

                &__link {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .devises__text {
                        @include fontMedium;
                        color: $text;
                        align-self: flex-start;
                    }

                    .swiper-slide_image-button {
                        align-self: flex-end;
                        @include imgButton;
                    }
                }
            }

        }

        .hidden {
            height: 344px;
            @media (min-width: 1440px) {
                height: 160px;
            }
        }
    }

    button {
        display: none;
    }
}