@import './variables.scss';

.footer {
  flex: 0 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  @include fontMediumFooter;
  padding: 16px 0;
  opacity: 0.72;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    &__text {
      flex: 1;
    }

    &__text:first-child {
      text-align: left;
    }

    &__text:last-child {
      text-align: right;
    }
  }
}