@import './variables.scss';

.popup-feedback {
    position: fixed;
    z-index: 1000;
    right: -2000px;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: .35s;
    background: rgba(255, 255, 255, 0.9);

    &__body {
        margin-left: auto;
        padding: 40px 32px;
        width: 440px;
        height: 100%;
        background: #FFFFFF;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);

        @media (max-width: 767px) {
            margin: 0 auto;
            padding: 24px 16px;
            width: 320px;
        }
    }

    &--visible {
        right: 0;
    }

    .button__cancel {
        position: absolute;
        top: 32px;
        right: 473px;

        @media (max-width: 767px) {
            position: static;
        }
    }

    &__title {
        @include fontBold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        color: $text;
        margin: 0 -32px;

        &::before {
            @include borderLeft(30px);
        }

        @media (max-width: 767px) {
            margin: 0 -16px;
            padding-top: 40px;

            &::before {
                @include borderLeft(12px);
            }
        }

    }

    &__form {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__input {
        padding: 12px 0 12px 16px;
        @include fontMedium;
        letter-spacing: -0.2px;
        height: 48px;
        border: 1px solid #EAEAEA;
        border-radius: 8px;

        &--message {
            height: 118px;
            resize: none;
            overflow: hidden;
        }

        &--submit {
            margin-left: auto;
            height: 32px;
            border: none;
            @include buttonOreder;
            &:hover {
                opacity: 0.5;
                transition: opacity 0.2s;
            }
        }
    }

    &__info {
        margin-bottom: 20px;
        color: $textLightColor;

        a {
            color: $iconColor;
        }
    }
}