@import './variables.scss';

.sidebar {
    position: fixed;
    left: -3000px;
    width: 100%;
    height: 100%;
    transition: 0.3s;

    @media (max-width: 1439px) {
        background: rgba(255, 255, 255, 0.9);
    }

    @media (min-width: 1440px) {
        left: 0;

        .icon-link--hidden {
            display: none;
        }
    }

    &_body {
        padding: 24px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 46px;
        background: #FFFFFF;

        @media (min-width: 768px) {
            box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
        }

        @media (min-width: 1440px) {
            justify-content: flex-start;
            box-shadow: none;
            gap: 38px;
        }

        .sidebar__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 78px;

            &__burger-logo {
                display: flex;
                align-items: center;
                flex-grow: 1;
                gap: 16px;
            }
        }

        .sidebar__navigation {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .sidebar__item {
                .sidebar__link:hover {
                    opacity: 0.5;
                    transition: opacity 0.2s;
                }
            }

            .sidebar__item:hover::before {
                @include borderLeft(20px);
            }

            .sidebar__item:hover {
                margin-left: -24px;
            }

            .sidebar__link {
                color: #1B1C21;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.2px;
            }
        }

        .sidebar__footer {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            align-items: flex-start;
            gap: 16px;

            @media (min-width: 768px) {
                margin-top: 210px;
            }

            @media (min-width: 1440px) {
                margin-top: auto;
            }
            .contacts-icon {
                display: flex;
                align-items: center;
                gap: 16px;
                &__item{
                    list-style: none;
                }
                .icon {
                    @include bgIcon;
                  }
              }

            .email {
                font-size: 16px;
                font-weight: 500;
                color: #1B1C21;
            }

            .phone {
                font-weight: 600;
                font-size: 24px;
                color: #1B1C21;
            }

            .lang {
                display: flex;
                gap: 7px;

                @media (min-width: 1440px) {
                    margin-top: 24px;
                }

                &__link {
                    color: #1B1C21;
                    font-weight: 500;
                    font-size: 16px;
                }

                &__link:hover {
                    opacity: 0.5;
                    transition: opacity 0.2s;
                }
            }

        }
    }

}

._active {
    position: fixed;
    left: 0;
    z-index: 1000;
    transition: 0.3s;
}